body{
    background-color: rgb(0, 0, 0);
}

.allinea{
    color: white;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #000000;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    padding-left: 50px;
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #000000;
    color: rgb(255, 0, 0);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #000000;
    color: rgb(255, 0, 0);
  }
  
  .logo{
    position: absolute;
    top: 4px;
    left:50px;
    width: 70px;
    height: 50px;
  }
  
  p{
    overflow: hidden;
    position:absolute;
    bottom: 400px;
    margin-left:850px;
    font-size: 275px;
  }
  
  .sfondo1{
    width: 100%;
      max-width: 100%;
      height: 1100px;
      opacity: 40%;
  }
  
  .teamcorbe {
    position: relative;
    text-align: center;
    color: white;
  }

  .vl {
    border-left: 3px solid rgb(255, 0, 0);
    height: 200px;
    position: absolute;
    left: 70%;
    margin-left: -3px;
    top: 450px;
    rotate: 90deg;
  }
  
  .vl1 {
    border-left: 3px solid rgb(255, 0, 0);
    height: 200px;
    position: absolute;
    left: 30%;
    margin-left: -3px;
    top: 450px;
    rotate: 90deg;
  }

  .triangle-up {
    position: absolute;
    top: 21.5%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 0;
	height: 0px;
	border-left: 726px solid transparent;
	border-right: 726px solid transparent;
	border-bottom: 100px solid #000000;
}

.rectangle2 {
    position: absolute;
    top: 25.28%;
    left: 50%;
    transform: translate(-50%, -50%);
  height: 200px;
  width: 100%;
  background-color: #000000;
  margin-bottom: 40px;
}  

.strapsON{
  width: 400px;
  height: 500px;
  margin-top: 150px;
  margin-left: -700px;
  margin-bottom: 50px;
}

.soprascroll {
  position: relative;
  margin-left: 45%;
  margin-top: -43%;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 40px;
}



.vl2 {
  border-left: 3px solid rgb(255, 0, 0);
  height: 250px;
  position: absolute;
  rotate: 90deg;
  left: 72%;
  top: 1205px;
}

.descr{
  position: relative;
  margin-left: 50%;
  margin-top: -7%;
  color: white;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 80px;
  font-size: 20px;
  width: 480px;
  line-height: 40px;
}

.coach {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 200px;
  padding-bottom: 80px;
  font-size: 50px;
}



.vl3 {
  border-left: 3px solid rgb(255, 0, 0);
  height: 250px;
  position: absolute;
  rotate: 90deg;
  left: 50%;
  top: 1870px;
}

.pacchetto{
  width: 900px;
  height: 600px;
  margin-bottom: 80px;
}

.specchio{
  width: 100%;
  height: 1200px;
  opacity: 40%;
}

.fcf-form-class{
  position: absolute;
  top: 3346px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fcf-label{
  font-size: 20px;
  color: #fff;
  padding-left: 35px;
  margin-top: 50px;
}

#Riassunto {
  width: 720px;
  height: 200px;
  opacity: 70%;
  margin-top: 50px;
}
#Altro {
  width: 720px;
  height: 130px;
  opacity: 70%;
  margin-top: 50px;
}

#Email {
  width: 300px;
  height: 40px;
  float: left;
  opacity: 70%;
  padding-left: 30px;
  margin-top: 50px;
}

#ProfiloInstagram{
float: right;
width: 300px;
height: 40px;
opacity: 70%;
margin-top: 50px;
}

#Name {
  width: 720px;
  height: 40px;
  opacity: 70%;
}

#fcf-button{
  font-size:30px;
  width: 720px;
  height: 50px;
  margin-top: 50px;
}

.fcf-form-group button:hover{
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}
